<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ペンギン判定AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/footerFixed.js"></script>
</head>
<body>
    <header class="text-center">
        <h1>ペンギン識別AI</h1>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="text-center" id="footer">
		<p>&copy; 2019 <a href="https://syusuke-s.web.app/" target="_blank">S.Seto - Rockhopper-Penguin - </a>　<a href="https://github.com/rockhopper-penguin/Kist" target="_blank">View the code on GitHub</a></p>
	</footer>
</body>
</html>